/* .dashboardpage{
    width: 100%;
    height: auto;
    margin-top: 20px;
} */
.pageperview{
    display: flex;
    font-family: sans-serif;
    gap: 20px;
    
}
.pageperview h1{
    color: rgba(110, 57, 203, 1);
    line-height: 100%;
}
.pageperview p{
    font-size: 14.22px;
    font-weight: 400;
    font-family: sans-serif;
     line-height: 100%;
}
.payoutmethod p{
    font-size: 14.22px;
    font-weight: 400;
    font-family: sans-serif;
    line-height: 100%;
}
.allcard{
    width: 100%;
    height: 100%;
    /* background: linear-gradient( to right,rgba(194, 161, 253, 1) 10% 10% ,rgba(145, 84, 253, 1) 90% 100%); */
    /* background-color: rgba(145, 84, 253, 1); */
    /* background-color: rgba(194, 161, 253, 1); */
    padding-bottom: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.transactioncard{
    width: 100%;
    height: 100%;
    background: linear-gradient( to right,rgba(194, 161, 253, 1) 10% 20% ,rgba(145, 84, 253, 1) 100% 100%);
    /* background-color: rgba(145, 84, 253, 1); */
    /* background-color: rgba(194, 161, 253, 1); */
    padding-bottom: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.earning{
    width: 100%;
    height: 100%;
    background-color: white;
}
.earning h4{
    font-size: 19px;
    font-weight: 500;
    font-family: sans-serif;
    line-height: 100%;
    padding-top: 30px;
}
.earning h1{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 62px;
    line-height: 100%;
    color: rgba(110, 57, 203, 1);
    padding-top: 40px ;
}
.earning h5{
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
    width: 200px;
    text-align: center;
    color: rgba(137, 134, 141, 1);
    padding-top: 20px;
}
.cardContan{
    width: 80%;
    height: auto;


}
.itemicon{
    display: flex;
    gap: 15px;
    
    height: 30px;
    padding: 20px;
    margin-top: 10px;
    align-items: center;
}
.iconDiv{
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.iconDiv img{
    width: 20px;
    height: 20px;
}
.itemicon h6{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;

}
.cardContan h1{
    font-family: sans-serif;
    font-size: 45px;
    font-weight: 600;
    padding-left: 0px;
    padding-top: 8px;
}
.cardprogres{
    padding-top: 5px;
  padding-left: 18px;
}
.bentokit{
    display: flex;
    gap: 15px;
    padding-bottom: 25px;
    align-items: center;
}
.bentokit h5{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;

}
.bentokit h6{
    font-family: sans-serif;
    font-size: 12px;
    color: rgba(137, 134, 141, 1);
}

.icondev{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.icondev img{
    width: 29px;
    height: 29px;
}

